.coments {
    padding-bottom: 70px;
    &__content {
        margin-top: 70px;
    }
}

.coments-item {
    display: flex;
    margin-top: 100px;
    &:first-child {
        margin-top: 0;
    }
    &__photo {
        max-width: 169px;
        max-height: 169px;
    }
    &__descr {
        margin: 0 60px;
        max-width: 650px;
    }
    &__title {
        color: #0d0d0d;
        font-size: 18px;
        font-weight: 700;
    }
    &__subtitle {
        color: #646464;
        font-size: 14px;
        font-weight: 300;
    }
    p {
        margin-top: 19px;
        color: #0d0d0d;
        font-size: 16px;
        font-weight: 300;
    }
}